In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
match = pd.read_csv('matches.csv')

In [3]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit

In [4]:
match.shape

(1024, 18)

In [5]:
delivery = pd.read_csv('deliveries.csv')

In [6]:
delivery.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353

In [7]:
total_score_df = delivery.groupby(['match_id', 'innings']).sum()['runs_off_bat'].reset_index()

In [8]:
total_score_df_2nd = total_score_df[total_score_df['innings'] == 1]

In [9]:
total_score_df_2nd

      match_id  innings  runs_off_bat
0       335982        1           205
2       335983        1           234
4       335984        1           122
6       335985        1           154
8       335986        1           100
...        ...      ...           ...
2065   1359544        1           190
2067   1370350        1           167
2069   1370351        1           166
2071   1370352        1           223
2073   1370353        1           210

[1024 rows x 3 columns]

In [10]:
match_df = match.merge(total_score_df_2nd[['match_id', 'runs_off_bat']], left_on = 'id', right_on = 'match_id')

In [11]:
match_df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,runs_off_bat
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,1370353,210
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal,1370352,223
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney,1370351,166
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford,1370350,167
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit,1359543,188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,335986,2007/08,Kolkata,2008/04/20,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,Asad Rauf,335986,100
1020,335985,2007/08,Mumbai,2008/04/20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,AV Jayaprakash,335985,154
1021,335984,2007/08,Delhi,2008/04/19,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,IL Howell,335984,122
1022,335983,2007/08,Chandigarh,2008/04/19,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,RB Tiffin,335983,234
1023,335982,2007/08,Bangalore,2008/04/18,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,AM Saheba,335982,205

In [12]:
match_df['team1'].unique()

array(['Gujarat Titans', 'Mumbai Indians', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Lucknow Super Giants', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [13]:
teams = [
    'Chennai Super Kings',
    'Mumbai Indians',
    'Kolkata Knight Riders',
    'Gujarat Titans',
    'Delhi Capitals',
    'Lucknow Super Giants',
    'Punjab Kings',
    'Royal Challengers Bangalore',
    'Sunrisers Hyderabad',
    'Rajasthan Royals'
]

In [14]:
match_df['team1'] == match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] == match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team1'] == match_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2'] == match_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

match_df['team1'] == match_df['team1'].str.replace('Gujarat Lions', 'Gujarat Titans')
match_df['team2'] == match_df['team2'].str.replace('Gujarat Lions', 'Gujarat Titans')

match_df['team1'] == match_df['team1'].str.replace('Kings XI Punjab', 'Punjab Kings')
match_df['team2'] == match_df['team2'].str.replace('Kings XI Punjab', 'Punjab Kings')

0       True
1       True
2       True
3       True
4       True
        ...
1019    True
1020    True
1021    True
1022    True
1023    True
Name: team2, Length: 1024, dtype: bool

In [15]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [16]:
match_df.shape

(562, 20)

In [17]:
match_df = match_df[match_df['dl_applied'] == 0]

In [18]:
match_df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,runs_off_bat
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal,1370352,223
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney,1370351,166
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford,1370350,167
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit,1359543,188
5,1359544,2023,Bengaluru,2023/05/21,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,normal,0,Gujarat Titans,0,6,Shubman Gill,"M Chinnaswamy Stadium, Bengaluru",Nitin Menon,VK Sharma,Tapan Sharma,1359544,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,335992,2007/08,Bangalore,2008/04/26,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,SR Watson,M Chinnaswamy Stadium,MR Benson,IL Howell,GA Pratapkumar,335992,129
1013,335993,2007/08,Chennai,2008/04/26,Chennai Super Kings,Kolkata Knight Riders,Kolkata Knight Riders,bat,normal,0,Chennai Super Kings,0,9,JDP Oram,"MA Chidambaram Stadium, Chepauk",BF Bowden,AV Jayaprakash,SJ Davis,335993,139
1016,335989,2007/08,Chennai,2008/04/23,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Chennai Super Kings,6,0,ML Hayden,"MA Chidambaram Stadium, Chepauk",DJ Harper,GA Pratapkumar,BF Bowden,335989,190
1020,335985,2007/08,Mumbai,2008/04/20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,AV Jayaprakash,335985,154
1023,335982,2007/08,Bangalore,2008/04/18,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,AM Saheba,335982,205

In [19]:
match_df = match_df[['match_id', 'city', 'winner', 'runs_off_bat']]

In [20]:
delivery_df = match_df.merge(delivery, on = 'match_id')

In [21]:
delivery_df = delivery_df[delivery_df['innings'] == 2]

In [22]:
delivery_df.shape

(64345, 26)

In [23]:
delivery_df['current_score'] = delivery_df.groupby('match_id').cumsum()['runs_off_bat_y']

In [24]:
delivery_df['runs_left'] = delivery_df['runs_off_bat_x'] - delivery_df['current_score']

In [25]:
delivery_df['balls_left'] = 120 - (delivery_df['ball'].astype('int') * 6 + ((delivery_df['ball'] % 1) * 10)).astype('int')

In [26]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna('0')
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x : x if x == '0' else '1')
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('match_id').cumsum()['player_dismissed'].values
delivery_df['wickets_left'] = 10 - wickets

In [27]:
delivery_df['curr_run_rate'] = (delivery_df['current_score'] / (120 - delivery_df['balls_left'])) * 6
delivery_df['req_run_rate'] = (delivery_df['runs_left'] / delivery_df['balls_left']) * 6

In [28]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

delivery_df['result'] = delivery_df.apply(result, axis = 1)

In [29]:
final_df = delivery_df[['batting_team', 'bowling_team', 'city', 'runs_left', 'balls_left', 'wickets_left', 'runs_off_bat_x', 'curr_run_rate', 'req_run_rate', 'result']]

In [30]:
final_df = final_df.sample(final_df.shape[0])

In [31]:
final_df.dropna(inplace =True)
final_df = final_df[final_df['balls_left'] != 0]

In [32]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:, -1]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [33]:
X_train.describe()

,runs_left,balls_left,wickets_left,runs_off_bat_x,curr_run_rate,req_run_rate
count,48099.000000,48099.000000,48099.000000,48099.000000,48099.000000,48099.000000
mean,88.848978,62.790827,7.553400,158.938169,7.079992,9.892381
std,48.487482,33.332189,2.162422,29.051470,2.307779,13.108699
min,-22.000000,-2.000000,0.000000,56.000000,0.000000,-426.000000
25%,51.000000,35.000000,6.000000,140.000000,5.916667,6.763636
50%,88.000000,63.000000,8.000000,159.000000,7.177570,8.495050
75%,125.000000,92.000000,9.000000,178.000000,8.388350,10.581818
max,242.000000,119.000000,10.000000,242.000000,36.000000,438.000000

In [34]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trans = ColumnTransformer([
    ('trans', OneHotEncoder(sparse = False, drop = 'first'), ['batting_team', 'bowling_team', 'city'])
], remainder = 'passthrough')

In [35]:
# from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

pipe = Pipeline(steps=[
    ('step1', trans),
#     ('step2', LogisticRegression(solver = 'liblinear'))
    ('step2', RandomForestClassifier())
])

In [36]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trans',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', RandomForestClassifier())])

In [37]:
y_pred = pipe.predict(X_test)

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9986694386694387

In [39]:
pipe.predict_proba(X_test)[5]

array([1., 0.])

In [40]:
# def match_summary(row):
#     print("Batting Team-" + row['batting_team'] + " | Bowling Team-" + row['bowling_team'] + " | Target- " + str(row['runs_off_bat_x']))

In [41]:
# def match_progression(x_df,match_id,pipe):
#     match = x_df[x_df['match_id'] == match_id]
#     match = match[(match['ball'] == 6)]
#     temp_df = match[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','runs_off_bat_x','curr_run_rate','req_run_rate']].dropna()
#     temp_df = temp_df[temp_df['balls_left'] != 0]
#     result = pipe.predict_proba(temp_df)
#     temp_df['lose'] = np.round(result.T[0]*100,1)
#     temp_df['win'] = np.round(result.T[1]*100,1)
#     temp_df['end_of_over'] = range(1,temp_df.shape[0]+1)
    
#     target = temp_df['runs_off_bat_x'].values[0]
#     runs = list(temp_df['runs_left'].values)
#     new_runs = runs[:]
#     runs.insert(0,target)
#     temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)
#     wickets = list(temp_df['wickets_left'].values)
#     new_wickets = wickets[:]
#     new_wickets.insert(0,10)
#     wickets.append(0)
#     w = np.array(wickets)
#     nw = np.array(new_wickets)
#     temp_df['wickets_in_over'] = (nw - w)[0:temp_df.shape[0]]
    
#     print("Target-",target)
#     temp_df = temp_df[['end_of_over','runs_after_over','wickets_in_over','lose','win']]
#     return temp_df,target

In [42]:
# temp_df,target = match_progression(delivery_df,1,pipe)
# temp_df

In [43]:
# import matplotlib.pyplot as plt
# plt.figure(figsize=(18,8))
# plt.plot(temp_df['end_of_over'],temp_df['wickets_in_over'],color='yellow',linewidth=3)
# plt.plot(temp_df['end_of_over'],temp_df['win'],color='#00a65a',linewidth=4)
# plt.plot(temp_df['end_of_over'],temp_df['lose'],color='red',linewidth=4)
# plt.bar(temp_df['end_of_over'],temp_df['runs_after_over'])
# plt.title('Target-' + str(target))

In [44]:
import pickle
pickle.dump(pipe, open('pipe.pkl', 'wb'))

In [45]:
teams

['Chennai Super Kings',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Gujarat Titans',
 'Delhi Capitals',
 'Lucknow Super Giants',
 'Punjab Kings',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Rajasthan Royals']

In [46]:
delivery_df['city'].unique()

array(['Ahmedabad', 'Chennai', 'Mumbai', 'Bengaluru', 'Kolkata', 'Delhi',
       'Dharamsala', 'Hyderabad', 'Lucknow', 'Jaipur', 'Chandigarh',
       'Guwahati', 'Navi Mumbai', 'Pune', 'Dubai', 'Sharjah', 'Abu Dhabi',
       nan, 'Visakhapatnam', 'Bangalore', 'Ranchi', 'Cuttack',
       'Johannesburg', 'Durban', 'Centurion', 'Port Elizabeth',
       'Kimberley', 'East London', 'Cape Town'], dtype=object)